# Telegram Configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_SALES_CHAT_ID=your_telegram_chat_or_group_id_here

# Sales API Configuration
SALES_API_URL=http://localhost:8000
MESSENGER_VERIFY_TOKEN=your_messeger_bot_token
MESSENGER_PAGE_ACCESS_TOKEN=your_messeger_bot_token